body {
    font: 10px sans-serif;
}

.bar text {
    shape-rendering: crispEdges;
}

.bar text {
    fill: #999999;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

tr:nth-of-type(odd) {
  background: #eee;
}

tr.active {
  background: lightblue;
}

tr.hidden {
  display: none;
}

