<!DOCTYPE html>
<meta charset="utf-8">
<link href="/static/default.css" rel="stylesheet" type="text/css">
<body>
Status: <i><span id="status">None</span></i><br/>
<svg width="960" height="500"></svg>
</body>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/throughput-timeseries.js"></script>
<script type="text/javascript" src="/static/long-polling.js"></script>
<script>
    launch_long_polling_measurement({
        type: "throughput",
        params: {{ measurement_params }}
    });
</script>
